* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(247, 227, 227);
}
.header-design {
  background-color: rgb(165, 65, 65);
  width: 100%;
  display: flex;
}
.left {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  align-items: center;
  width: 50%;
}
.right {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.header-buttons {
  margin: 20px 0px;
  height: 50px;
  background-color: brown;
  color: white;
  border-radius: 10px;
  border: hidden;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.search-logo {
  width: 40px;
  height: 40px;
}
input {
  height: 30px;
  border-radius: 10px;
  border: hidden;
  background-color: gray;
}
.title {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.page-title {
  font-size: 55px;
  color: rgb(252, 252, 252);
  background-color: brown;
  border-radius: 20px;
  padding: 10px;
}

main {
  padding-top: 60px;
}
.time {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.time div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  font-size: 20px;
}
.message {
  margin: 30px 0px;
  font-size: 24px;
  color: white;
  background-color: rgb(121, 46, 46);
  padding: 15px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cover-photo {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  width: 300px;
  height: 400px;
}
.individual-images {
  font-size: 20px;
  font-weight: 600;
}
.buton {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.notification-button {
  border-width: 0;
  border-radius: 10px;
  background-color: rgb(197, 86, 86);
  cursor: pointer;
  padding: 20px;
  font-weight: 600;
  color: white;
}
.footer-elements {
  background-color: rgb(165, 65, 65);
  height: 70px;
}
.footer-text {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
